.forgotpassword {
  background-image: url(https://boxed.gg/_next/static/media/main.2f70f3d7.png);
  background-size: cover;
  background-repeat: no-repeat;
  
  color: white;
  padding: 2rem;
}

.forgotpassword form {
  max-width: 436px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  align-items: flex-start;
  gap: 1.5rem;
  border: 2px var(--border-color) solid;
  border-radius: .5rem;
  background-color: var(--main-bg-color);

  box-shadow: #192033 0px 2px 8px 0px;
}

.forgotpassword form label {
  width: 100%;
}

.forgotpassword form h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0;
}

.forgotpassword form p {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--link-hover);
  margin-bottom: 1rem;
}

.forgotpassword form input[type="checkbox"]:hover,
.forgotpassword form label:hover {
  cursor: pointer;
}

.forgotpassword form input[type="email"],
.forgotpassword form input[type="text"],
.forgotpassword form input[type="password"] {
  color: white;
  margin-top: .25rem;
  width: 100%;
  padding: .5rem;
  border: 2px var(--border-color) solid;
  border-radius: .5rem;
  background-color: transparent;
  outline-color: transparent;
}

.forgotpassword form input::placeholder {
  color: var(--placeholder-text);
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
}

.forgotpassword form .btn {
  width: 100%;
}

.forgotpassword form label.agree-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem
}

.forgotpassword form input[type="checkbox"] {
  width: 1.4em;
  height: 1.2rem;
  
  appearance: none;
  -webkit-appearance: none;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.forgotpassword form input[type="checkbox"]::before {
  clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
  transform: scale(0);
  background-color: white;
}

.forgotpassword form input[type="checkbox"]:checked::before {
  transform: scale(1);
  content: "\2713";
}

.forgotpassword form .form-logo,
.forgotpassword form .forgot {
  display: flex;
  justify-content: center;
  width: 100%;
}

.forgotpassword form .form-logo {
  margin-top: 1rem;
}

.forgotpassword img {
  width: 94px;
}