.top-card-section {
  margin-left: 48px;
  margin-bottom: 12px;

  .top-card-big-container {
    .top-card-title-container {
      color: white;
      display: flex;
      align-items: center;

      .top-card-title {
        margin: 0;
        font-size: 18px;
        text-transform: capitalize;
        margin-left: 4px;
      }
    }
    .card-wrapper {
      display: flex;
      color: white;
      padding: 12px 0 0 16px;
      gap: 20px;
      overflow-x: hidden;

      a {
        text-decoration: none;
        .card {
          padding: 16px;
          display: flex;
          gap: 10px;
          border: 2px solid #3c81f6;
          border-radius: 8px;
          position: relative;
          .image-card-container {
            width: 69px;
            height: 96px;
            border-radius: 8px;
            overflow: hidden;
            margin: 0 15px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .right-card-box {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h4 {
              font-size: 16px;
              text-transform: capitalize;
            }
            p {
              color: rgb(156 163 175);
              font-size: 14px;
            }
            .right-card-footer {
              padding: 8px 16px;
              background: #303c52;
              width: fit-content;
              border-radius: 20px;
              font-size: 12px;
              display: flex;
              align-items: center;
              color: rgb(59 130 246);

              .inside-ball {
                display: block;
                background-color: rgb(59 130 246);
                width: 8px !important;
                height: 8px !important;
                border-radius: 50%;
                margin-right: 8px;
              }
            }
          }

          // hover button
          .card__button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #6060744f;
            backdrop-filter: blur(0.5px);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            button {
              background: #27beff;
              border: none;
              outline: none;
              padding: 17px 14px;
              border-radius: 10px;
              font-size: 20px;
              cursor: pointer;
              &:hover {
                background-color: #078bc4;
                transition: all 300ms;
              }
            }
          }

          &:hover .card__button {
            display: flex;
            transition: all 300ms;
          }
        }

        .bottom-card {
          display: flex;
          justify-content: center;
          margin-top: 8px;
          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 8px;
          }
          span {
            font-size: 16px;
            color: #9ca3af;
          }
        }
      }
    }
  }
}
