---
import "./src/styles/global.css";
// const { title = '' } = Astro.props;
---

           <!-- card -->
           <a href="#">
            <div class="card">
              <div class="image-card-container">
                <img src="/images/img2.webp" alt="image-card" />
              </div>
              <div class="right-card-box">
                  <h4>charmander...</h4>
                  <p>SWSH: Sword...</p>
                   <div class="right-card-footer"> <span class="inside-ball"></span> 0.25%</div>
              </div>
               
             </div>
                 <div class="bottom-card">
                   <img src="/images/bottom-img.webp" alt="">
                   <span>
                     GreenSCOPE
                   </span>
                 </div>
           </a>
           <!-- card -->