---
import "./src/styles/global.css";
import "./src/styles/faq.css";

import ThreeColumns from "../layouts/ThreeColumns.astro";
---

<ThreeColumns page="/fa1">
  <section class="fa1 center-h-v">
    <details>
      <summary>Click me</summary>
      <article>
      <pre><code>summary::after</code></pre>
  </section>
</ThreeColumns>