---
import "./src/styles/global.css";
import "./src/styles/forgotpassword.css";

import ThreeColumns from "../layouts/ThreeColumns.astro";
---

<ThreeColumns page="/forgotpassword">
  <section class="forgotpassword center-h-v">
    <form action="">
      <h1>Password reset</h1>
      <p>
        Enter your email address and we will send you instructions to reset your password.
      </p>
      <label>
        Email
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email@domain.com"
        />
      </label>
      
      <button type="submit" class="btn solid-green">Reset password</button>

      <a href="/login" class="btn outline-green">Return to login</a>

      <a href="/" class="form-logo">
        <img class="footer-logo" src="/Boxed_Light.svg" alt="Logo" />
      </a>
    </form>
  </section>
</ThreeColumns>
