---
import "./src/styles/global.css";
import "./src/styles/purchaseterms.css";

import ThreeColumns from "../layouts/ThreeColumns.astro";
---

<ThreeColumns page="/purchaseterms">
  <section class="purchaseterms">
    <h1>Purchase Terms</h1>

    <p>
      Last Updated: May 25, 2023
    </p>
    <p>
      Purchases within our Service are governed by these Additional Terms, (the “Purchase Terms”), which form a legally binding agreement between you and Company, and which form part of, and are hereby incorporated by reference into, the Company <a href="/terms">Terms of Service</a>. Capitalized terms not defined herein, have the meaning set forth in the <a href="/terms">Terms of Service</a>.
    </p>

    <h2>
      1. Purchases 
    </h2>
    <p>
      (a) Through the Service, you may purchase credits (“Gems”) and those Gems can be used to purchase digital collectibles and/or loot boxes (which include undisclosed digital collectibles) which can be in the form of non-fungible tokens (all of these, “intangible assets”). Gems have no cash value and are for entertainment purposes only. Gems cannot be withdrawn, sold, transferred, or converted to fiat currency. Company may offer you the opportunity to purchase differing amounts of Gems for differing prices. The price of Gems is displayed on the Service, and you may only purchase Gems for the currently displayed price. Company reserves the right to charge additional fees for access to or use of the Service or any of our other features, and to change our fee structure at our discretion. All previous offers or discounts are unavailable once removed from the Service.
    </p>
    <p>
      (b) The value of purchased Gems does not vary after purchase. Gems do not expire. There are no dormancy or other fees applicable to Gems. Gems may only be redeemed toward the purchase of intangible assets. Company may, in its sole discretion, permit users to redeem Gems balances for its cash value, or replace it with new Gems at no cost to you. Gems are not legal tender and cannot be reloaded, resold, transferred for value, redeemed for cash (except as described above) or applied to any other Account, except to the extent described herein, or as required by applicable law.
    </p>
    <p>
      (c) Company does not produce or store intangible assets. The Service collects and aggregates information related to intangible assets available for sale in peer-to- peer marketplaces and/or listed for sale from other third-party online sellers. Once you purchase an intangible asset through the Service, you will receive a "voucher" for the chosen intangible asset. The intangible asset is not custodied at this time. Instead, the voucher is stored in your Account, which can be redeemed at any time for Gems or for the intangible asset itself. When you redeem a voucher for an intangible asset, the Service effectuates the purchase of the intangible asset off live marketplaces or third-party site and send it to your account of choice in the gaming platforms supported by the Service. Intangible assets are not stored in the Service. Intangible assets displayed on the Service represent what is currently available, however you understand and accept that at time of purchase and/or redemption of a voucher, the intangible asset procured may have a different token id than the intangible asset displayed. You also accept and understand that as these assets are procured from third-party sites, if you wait too long to redeem a voucher, the intangible asset may no longer be available and/or may have changed prices. Company does not control these third-party services and sites, and therefore we cannot be responsible for their changes or availability.
    </p>
    <p>
      (d) The Service is not a marketplace. Users cannot list their own assets, or act as sellers in the Service. There is no interaction between Accounts, and users cannot transfer Gems or vouchers between Accounts.
    </p>

    <h2>
      2. Payments, taxes and refunds.
    </h2>
    <p>
      (a) You agree to pay all fees and applicable taxes incurred by you or anyone using an Account registered to you. Company may revise the pricing for the Gems offered through the Service at any time. Company may also provide links to other third-party sites, some which may charge separate fees, which are not included in any fees that you may pay to Company. Any separate charges or obligations that you incur in your dealings with third parties are your responsibility.
    </p>
    <p>
      (b) You shall be responsible for payment of all taxes, and we will not be responsible for any federal income tax withholding, unemployment contribution, workers compensation, or any employment-related benefits. 
    </p>
    <p>
      (c) We utilize various third-party payment processors and gateways, and we reserve the right to contract with additional third-party payment processors and gateways in our sole discretion to process all payments associated with the Service. Such third parties may impose additional terms and conditions governing payment processing. You are responsible for abiding by such terms. We further disclaim any liability associated with your violation of such terms.
    </p>
    <p>
      (d) We may permit you to pay for purchases of Gems using one or more cryptocurrencies, such as Bitcoin. Acceptance of such payment method is in our sole discretion and may be of limited duration. Any payment in cryptocurrency is irreversible. Refunds of cryptocurrency payments is at our sole discretion, and, if allowed, may take the form of cryptocurrency transfer, or corresponding cash value of the requested refund, at our option. Additional administrative fees may apply to cryptocurrency transactions. By requesting payouts in cryptocurrency, you acknowledge that the value of cryptocurrencies is highly volatile and that there is a substantial risk of loss associated with using cryptocurrencies. You consent to the risk that the value of cryptocurrencies may be influenced by activity outside our control, including fluctuating public interest in cryptocurrencies, potential regulation of cryptocurrencies, and risks associated with hardware, software, or Internet connection issues, malicious software, unauthorized access, or other communication failures, disruptions, errors, distortions, and delays. We do not represent, guarantee, or warrant the accuracy or fairness of the value of any cryptocurrency. You are solely responsible for making your own independent appraisal and investigations into the value of any purchase on the Service. 
    </p>
    <p>
      (e) You must promptly inform our third-party billing and payment agents of all changes, including changes in your address, debit or credit card, and other banking information used in connection with payments through the Service. You are responsible for any debit or credit card charge backs, and any related fees that we may incur with respect to your Account, along with any additional fees or penalties imposed by our third-party billing or payment agents.
    </p>
    <p>
      (f) If you make a purchase on the Service that results in a chargeback, we may terminate your Account. You agree to contact us to seek a resolution of any issue before initiating a chargeback. We reserve the right to withhold any funds or proceeds generated from any purchase that results in a chargeback.
    </p>
    <p>
      (g) We reserve the right to make changes at any time to our fees and billing and payment methods, including the addition of administrative or supplemental charges for any feature, with or without prior notice to you.
    </p>
    <p>
      (h) You understand and agree that it is our standard policy that we reserve the right to address all refund requests in our sole discretion. In no instance will a refund be provided where the user initiates a chargeback. In case you close or cancel your Account, any balance in Gems will be returned to you. If there is reason to claim that any Gems in the Account were illegally received by you, these funds will be debited and not payable. 
    </p>
    <p>
      (i) We take credit card fraud very seriously. Discovery that you have used a stolen or fraudulent credit card will result in the notification of the appropriate law enforcement agencies and termination of your Account. 
    </p>
    <p>
      (j) We prohibit and seek to prevent money laundering and the funding of criminal activities. We train our employees to monitor for suspicious transactions on the Service and to review transactions that meet certain thresholds. We may provide any evidence of such activities to financial regulators or law enforcement or as otherwise deemed necessary by us. 
    </p>
    <p>
      (k) We may prevent you from creating an Account, suspend or terminate your Account, or request additional information from you if (1) you provide fraudulent Account or payment information, such as impersonating a third party, (2) one or more of your transactions is flagged, or (3) you are on OFAC’s list of Specially Designated Nationals and Blocked Persons or a similar sanctions or terrorism watch lists. If you refuse or fail to provide requested information in a timely manner, we will terminate your Account.
    </p>
    <p>
      3. Miscellaneous. (a) The Service is not a banking institution (a place of storage, accumulation and savings of your deposits, or a money transfer service). (b) The Service is not a gambling service, in the terminology established by law. We do not take or place illegal bets, and we do not recommend or encourage illegal gambling. The Service allow for purchasing and transferring intangible assets and lootboxes containing exclusively virtual game content, which does not matter outside the game in which this content is used. The essence of the Service is the sale of digital intangible assets from third-party sellers. (c) You agree not to use the Service if doing so would violate the laws of your state, province, or country. It is your sole and absolute responsibility to comply with all applicable laws, and you assume all risk in using the Service. Nothing published on the Service shall be construed as legal advice on any issue. You assume all risk and responsibility for your access to and use of the Service. We bear no responsibility for your access to or use of the Service in connection with illegal gambling activities. You understand and agree that the Service is for entertainment purposes only. We make no guarantee that the Service is legal in your jurisdiction.
    </p>
    </section>
  </ThreeColumns>