---
import "./src/styles/global.css";
import "./src/styles/referralprogram.css";

import ThreeColumns from "../layouts/ThreeColumns.astro";
---

<ThreeColumns page="/referralprogram">
  <section class="referralprogram">
    <h1>Referral Program</h1>

    <p>Last Updated: May 25, 2023</p>
    Welcome to our Referral Program (defined below). Our Referral Program is governed
    by Additional Terms, these program terms (the “Program Terms”), which form a
    legally binding agreement between you and Company, and which form part of, and
    are hereby incorporated by reference into, the Company
    <a href="/terms">Terms of Service</a>. Capitalized terms not defined herein,
    have the meaning set forth in the
    <a href="/terms">Terms of Service</a>.
    <p>
      BY PARTICIPATING IN OUR REFERRAL PROGRAM, YOU INDICATE YOUR ASSENT TO BE
      BOUND BY THESE PROGRAM TERMS. IF YOU DO NOT AGREE TO THESE PROGRAM TERMS,
      YOU ARE NOT ELIGIBLE TO PARTICIPATE IN OUR PROGRAM.
    </p>
    <p>
      1. Eligibility. Company allows existing customers (“Users”) who hold an
      active Company Account to earn credits (“Referral Credits”) when they
      refer new customers (“Referred Customers”) to Company (collectively, the
      “Program”). An “active account” is an Account that has been verified by
      Company upon creation, and that is not dormant (as further described in
      subsection 4(d) below).
    </p>
    <p>
      2. Rewards and Referral Process. Under the Program, Users are eligible to
      receive Referral Credits in a certain amount equivalent to U.S. dollars
      (the “Reward”) for each customer referred only if: (i) the User shares
      with a Referred Customer a unique referral code and/or URL (collectively,
      the “Referral Link”) which the User can access via his/her Account; (ii)
      the Referred Customer signs up for a new Company account; and (iii) the
      Referred Customer uses the Referral Link either when opening the Company
      account or when effectuating a purchase of intangible assets or
      collectibles products and/or services. Company may specify a minimum
      amount for purchases when User signs up for the Program (all of this,
      collectively known as the “Eligibility Criteria”). If a Referred Customer
      signs up for a new Company Account or makes a purchase without ever using
      the Referral Link, the referring Company User will not receive any Reward.
    </p>
    <p>3. Reward Redemption.</p>
    <p>
      (a) Users may redeem Rewards by electing to receive Referral Credits in
      the form of a cash-equivalent amount that can only be redeemed as payment
      for certain products and/or services. Users will have the Referral Credits
      deposited in their Accounts for each referral that meets the Eligibility
      Criteria within a reasonable period of time after the Referred Customer
      has effectuated at least one purchase. Once Credit Rewards are deposited
      into a Company Account, those Credit Rewards may not be redeemed for cash
      payouts and may only be used to pay for eligible products and/or services,
      unless otherwise indicated by Company in its sole discretion.
    </p>
    <p>
      (b) All Rewards deposited into a Company Account will expire if not used
      by a certain date, as informed by Company when the Rewards are deposited
      into the User’s Account or, in the alternative, as set forth in Section
      4(c) below. Users may view their current Rewards balance by logging into
      their Accounts.
    </p>
    <p>
      (c) Company, in its sole discretion, may impose a limit on the number of
      Rewards in the aggregate or by type that may redeemed per Company Account,
      per time period, per Reward or per any other generally-applicable metric
      that may be selected by Company from time to time in its sole discretion.
    </p>
    <p>
      (d) Company reserves the right to modify, amend or revise the Rewards
      available. Company Users may not rely on continued Reward availability.
      Any Reward may be withdrawn, the amount of Company Referral Credits may be
      reduced, and restrictions on any Reward or its redemption may be imposed
      by Company or its designee. Rewards are non-assignable and
      non-transferable and may not be bartered or sold. Any Rewards assigned,
      transferred, bartered or sold in violation of these Program Terms may be
      confiscated or cancelled.
    </p>
    <p>
      (e) Rewards have no cash value and may not be redeemed for cash and may
      not be sold, auctioned, bartered, brokered, purchased, transferred,
      assigned or used to engage in any gambling activity. Any Rewards obtained
      by sale, auction, barter, brokerage, purchase, transfer, assignment or
      gambling by any person or entity will be considered to have been
      fraudulently obtained and deemed void, and such Rewards may be confiscated
      or cancelled. Company reserves the right to automatically terminate any
      Company Account that violates this provision. Rewards must be redeemed in
      accordance with these Program Terms. Rewards will not be replaced,
      reissued or credited if lost, stolen or otherwise altered or destroyed.
      Company reserves the right, in its sole discretion, to determine and
      modify, at any time, the value of Rewards. Rewards cannot be used in
      combination with any other discount, coupon or offer unless specifically
      allowed by the terms of a specific promotion. Once you have redeemed your
      Rewards, they are consumed and used up, and there will be no refunds,
      returns or exchanges for additional Rewards, or other goods and services,
      even if returns are allowed for the products or services for which your
      Rewards were redeemed.
    </p>
    <p>4. Rewards Modification and Termination.</p>
    <p>
      (a) Company may modify any of these Program Terms, including, but not
      limited to, the methods through which Rewards can be earned, how Rewards
      can be used, the types or “classes” of Rewards available, and the
      conditions under which Rewards may expire or be forfeited, at any time,
      with or without notice, even though these changes may affect a Company
      User’s ability to use the Rewards that he/she has already earned. The
      Program has no predetermined termination date and may continue until such
      time as Company decides to terminate the Program. Company may, in its sole
      discretion, modify or terminate the Program, in whole or in part, at any
      time and for any reason or no reason at all, with notice on the Site
      and/or via email to the User’s email address currently on file with
      Company for their Account.
    </p>
    <p>
      (b) If Company amends these Program Terms, it will revise the “last
      updated” date located at the top of these Program Terms. For changes to
      these Program Terms that Company considers to be material, Company will
      place a notice on the Site by revising the link on the home page to read
      substantially as “Updated Program Terms” for an amount of time that
      Company determines in our sole discretion. If you continue to participate
      in the Program by earning Rewards, redeeming Rewards, logging onto your
      Account or in any other way after these Program Terms have been changed,
      you will be deemed to have read, understood and unconditionally consented
      to and agreed to such changes. The most current version of these Program
      Terms will be available on the Site and will supersede all previous
      versions of these Program Terms.
    </p>
    <p>
      (c) If Company decides in its sole discretion to discontinue the Program,
      Company users will have approximately thirty (30) days or an amount of
      time deemed reasonable by Company in its sole discretion from the date the
      termination of the Program is announced, to redeem and/or use their
      remaining Rewards. Users may not rely on continued Reward availability.
      Company makes no representation or warranty about the number or type of
      Rewards that may be available after Program termination has been
      announced. Any Rewards remaining in a Company User’s account at the time
      of termination will be forfeited and no compensation will be provided.
      Company may cancel your Account, cancel accumulated Rewards, alter the
      number of Rewards in your Account or suspend your account privileges at
      any time with immediate effect if Company determines in its sole
      discretion that you (i) have acted in a manner inconsistent with
      applicable laws or ordinances; (ii) acted in a fraudulent or abusive
      manner; (iii) breached any of these Program Terms; (iv) engaged in any
      fraud or abuse concerning Rewards, Rewards usage or Rewards redemption; or
      (v) engaged in any conduct or act that causes Company to terminate or
      suspend your access to the Service. Company may also take appropriate
      administrative or legal action if any of the items listed above occurs.
      Nothing contained in these Program Terms shall limit Company in its
      exercise of any legal or equitable rights or remedies.
    </p>
    <p>
      (d) Company reserves the right to terminate the account of any User whose
      Company Account becomes dormant. A Company Account will be considered
      dormant if the Company Account holder fails to log onto his or her Company
      Account or show any activity for twenty-four (24) months or, in the
      alternative, with such regularity deemed sufficient by Company and
      announced from time to time on the Site. Company in its sole discretion
      may allow Company Users to reactivate or re-verify dormant accounts by
      following Company’s instructions (and thus preventing their Rewards from
      expiring).
    </p>
    <p>
      (e) ACCRUED REWARDS DO NOT CONSTITUTE PROPERTY OF A USER AND MAY HAVE NO
      VALUE OUTSIDE OF THE PROGRAM. REWARDS ARE CREDITS THAT COMPANY MAY REVOKE
      AT ANY TIME AS SET FORTH HEREIN. REWARDS ARE NOT TRANSFERABLE UPON DEATH,
      AS PART OF A DOMESTIC RELATIONS MATTER OR OTHERWISE. Each Company Account
      holder is responsible for ensuring that the information in his/her Company
      Account is accurate and is kept current. If a Company Account holder
      believes that his/her Company Account does not properly reflect Rewards
      earned from engaging in any activities, the Company Account holder must
      contact Company to resolve the issue. Any attempt by any person to
      undermine the legitimate operation of the Program may be a violation of
      criminal and civil law, and, should such an attempt be made, Company
      reserves the right to seek damages from any such person to the fullest
      extent permitted by law. Company’s failure to enforce any of these Program
      Terms shall not constitute a waiver of the affected provision, or any
      other provision. All questions or disputes regarding an individual's
      eligibility for the Program, the earning, crediting or use of Points, or a
      Company Account holder’s compliance with these Program Terms will be
      resolved by Company in its sole discretion.
    </p>
    <p>
      (f) This Program is provided on an “AS IS” basis and without warranty,
      guaranty or representation of any kind, expressed or implied, including
      without limitation, any implied warranty of merchantability, fitness for a
      particular purpose or non- infringement. Company is not responsible for
      any assurances, guarantees, representations or warranties made or implied
      by any parties associated with or involved in this Program. By
      participating in the Program, each Company Account holder accepts all
      responsibility for, and hereby indemnifies and holds harmless Company,
      from and against any claims that may arise from actions taken by such
      Company Account holder or for any unauthorized access to a Company Account
      by any third party.
    </p>
    <p>
      (g) UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE,
      SHALL COMPANY OR ITS AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT,
      INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE PROGRAM,
      EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO
      NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL
      DAMAGES, THEREFORE SUCH EXCLUSIONS MAY NOT APPLY TO YOU. IF A COMPANY
      ACCOUNT HOLDER PROVES THAT COMPANY HAS IMPROPERLY DENIED THAT ACCOUNT
      HOLDER ANY REWARDS, LIABILITY WILL BE LIMITED TO THE EQUIVALENT AMOUNT OF
      REWARDS. BY PARTICIPATING IN THE PROGRAM, A COMPANY ACCOUNT HOLDER WAIVES
      ANY AND ALL RIGHTS TO BRING ANY CLAIM OR ACTION RELATED TO SUCH MATTERS IN
      ANY FORUM MORE THAN ONE (1) YEAR AFTER THE FIRST OCCURRENCE OF THE ACT,
      EVENT, CONDITION OR OMISSION UPON WHICH THE CLAIM OR ACTION IS BASED. EACH
      COMPANY ACCOUNT HOLDER SPECIFICALLY WAIVES ANY BENEFIT UNDER CALIFORNIA
      CIVIL CODE SECTION 1542 AS SET FORTH IN SECTION 10 OF THE
      <a href="/terms">Terms of Service</a>.
    </p>
  </section>
</ThreeColumns>
