---
import "./src/styles/global.css";
import "./src/styles/shipping.css";

import ThreeColumns from "../layouts/ThreeColumns.astro";
---

<ThreeColumns page="/shipping">
  <section class="shipping">
    <h1>Shipping & Refund Policy</h1>

    <p>Last Updated: Jan 19, 2024</p>
    <p>
      Any cost, fee, duty, tax or other expense caused by delivery of the items
      shall be borne by the recipient. Before ordering items you are advised to
      familiarise yourself with your local import, customs, and tax laws.
    </p>
    <p>
      If the User’s order has been accepted by us, the User will receive a
      confirmation email. If Users do not receive a confirmation email within
      two working days counting from the day of placing the order, they need to
      contact us at <a href="mailto:support@boxed.gg">support@boxed.gg</a>. Only
      when Users receive the confirmation email will their order be considered
      as accepted.
    </p>
    <p>
      We will use reasonable efforts to deliver the items as quickly as possible
      within a reasonable time, but we are not responsible for any delays in
      delivery which are beyond our control. We do not make any promise or
      warranty as to the delivery date for the items. We may display on the Site
      the approximate time of delivery. We make this non-binding estimate based
      on our knowledge and experience at that time. Loot Labs Inc. does not
      accept any liability and Users hereby release us from any liability for
      any damage caused by the early or late delivery of the item, failure to
      deliver the item, or User’s reliance on the estimated date of delivery.
    </p>

    <p>
      The risk of damage or loss of items shall be passed to the User upon our
      delivery or attempted delivery of the item in accordance with the User’s
      delivery instructions. If the item does not arrive or arrives damaged or
      defective, please contact us immediately but no later than within two
      months from the date of order if item does not arrive or within five (5)
      days of receipt if item arrived damaged or defective, together with
      photographic evidence of the damage. If, at our sole discretion, we
      determine that the damage occurred through no fault of the User we will at
      our sole discretion and item availability either send a new item or
      provide full refund of the cost paid to us for that item. Prior to issuing
      refund or sending supplementary item User must return the damaged item to
      us by. If damage to the item resulted from the User’s actions, we do not
      take any responsibility for the damage nor will we provide a refund.
    </p>

    <span>
      Due to increased volume, the shipping times for singles cards are as
      follows:
    </span>
    <ul>
      <li>
        • Orders placed before January 1, 2024 will start shipping in February
        2024 and be completely shipped out by mid March 2024
      </li>
      <li>
        • Orders placed through February 2024 will be shipped out by the end of
        March 2024
      </li>
      <li>
        • Orders placed March 2024 or later will be shipped out within 2-3 weeks
      </li>
    </ul>
    <span> Marketplace order shipping time:</span>
    <ul>
      <li>• Orders will ship within 3-10 business days</li>
    </ul>
  </section>
</ThreeColumns>
