---
import "./src/styles/global.css";
import "./src/styles/terms.css";

import ThreeColumns from "../layouts/ThreeColumns.astro";
---

<ThreeColumns page="/terms">
  <section class="terms">
    <h1>Terms of Service</h1>

    <p>Last Updated: May 25, 2023</p>

    <p>
      These Terms of Service (the “Terms”) are a legal contract between Loot
      Labs Inc (dba Boxed) and its affiliates, (collectively, “Company”, “we” or
      “us”) and “you” (“your,” or “User”). The Terms explain how you are
      permitted to use the services provided by and through our platform,
      website(s), our associated internet properties (either linked by Company
      and/or by affiliated companies) and any software that Company may provide
      to you for download, including in your mobile devices (our “App(s)”) (all
      of these virtual properties and mobile applications, collectively, the
      “Site”). These Terms also govern your use of all the text, data,
      information, software, analytics, graphics, proprietary content and more
      (all of which we refer to as “Materials”) that we and/or our affiliates
      may make available to you, as well as any services we may provide through
      the Site. Collectively, the Site, the Materials, and the services provided
      by the Company are referred herein to as the “Service”.
    </p>

    <p>
      USING THE SERVICE INDICATES THAT YOU HAVE BOTH READ AND ACCEPT THESE
      TERMS. IF YOU DO NOT AGREE WITH ANY OF THESE TERMS, DO NOT ACCESS OR
      OTHERWISE USE THE SERVICE. THESE TERMS APPLY TO ALL VISITORS, CUSTOMERS,
      USERS, AND OTHERS WHO ACCESS THIS SERVICE.
    </p>

    <p>
      These Terms contain a dispute resolution and arbitration provision (See
      Section 17, including a class action waiver that affects your rights. This
      section applies to the extent applicable in your jurisdiction.
    </p>

    <p>
      1. MODIFICATIONS AND ADDITIONAL TERMS. (a) Changes to these Terms. Company
      can change, update, add or remove provisions of these Terms at any time by
      posting the updated Terms on the Site and by providing a notice on the
      Service. We will ask for your express consent to the updated Terms when
      and where we are legally required to do so. If you do not agree with any
      of the updated Terms, you must stop using the Service. Continued use of
      the Service following notice of any such modifications indicates You
      acknowledge and agree to be bound by the modifications. Unless otherwise
      required by law, the updated Terms are effective as of the day of posting.
      (b) Changes to the Service. Company may make changes to the Service at any
      time, without notice to you. If you object to any changes to the Service,
      your sole recourse will be to cease using the Service. Continued use of
      the Service following posting of any such changes will indicate your
      acknowledgement of such changes and satisfaction with the Service as
      modified. We also reserve the right to discontinue the Service, or any
      component of it, at any time without notice to you. We will not be liable
      to you or any third- party should we exercise our right to modify or
      discontinue the Service. (c) Additional Terms. In addition, certain
      features of the Service may be subject to additional legal terms of use
      (“Additional Terms”), which shall be provided to you at the moment you
      choose to use such features or services. By using such features, or any
      part thereof, you agree to be bound by the Additional Terms applicable to
      such features. In the event that any of the Additional Terms governing
      such features conflict with these Terms, the Additional Terms will govern.
    </p>

    <p>
      2. PRIVACY. Please review our privacy policy (the
      <a href="/privacy">“Privacy Policy”</a> ) which explains how we use any personal
      information that you submit to Company. The
      <a href="/privacy">Privacy Policy</a> is hereby incorporated by reference.
    </p>

    <p>
      3. CONTRACTUAL RELATIONSHIP. By using the Service, you represent that you
      are at least 18 years of age, or that you are of age under the laws of
      your jurisdiction, and lawfully able to enter into contracts. If you are
      under 18 years of age or not legally able to enter into contracts in your
      place of residence, you must have the permission of your parents or legal
      guardians to use the Service. Pursuant to 47 U.S.C. Section 230(d) as
      amended, we hereby notify you that parental control protections (such as
      computer hardware, software or filtering services) are commercially
      available and may assist you in limiting access to material that is
      harmful to minors. If you are entering into these Terms on behalf of a
      business entity or organization, you represent and warrant that you have
      the legal authority and capacity to bind such business entity or
      organization. If you are not authorized nor deemed by law to have such
      authority, you assume sole personal liability for the obligations set out
      in these Terms. Your access to and use of the Service is subject to your
      continued compliance with these Terms and all applicable laws. If you
      breach these Terms, your right to access and use the Service will
      terminate immediately, without any further action by Company, except for
      those obligations expressly described by the Company in these Terms.
    </p>

    <p>
      4. THE SERVICE AND LICENSE TO USE IT. The Service includes an integrated,
      software-as-a-service platform that enables You to purchase digital
      collectibles and/or intangible assets and transfer them to your Third
      Party Accounts (defined below). For as long as you agree to these Terms
      and abide by them, you may use the Service. These Terms apply to all users
      of the Service, including visitors and Registered Users. The Service is
      licensed, not sold, to you. The Service is protected by copyright laws
      throughout the world. Subject to your agreement, and continuing compliance
      with these Terms, Company grants you a personal, non-exclusive,
      non-transferable, non-sublicensable, revocable limited license subject to
      the limitations below to use the Service solely for your own individual,
      non-commercial purposes only. You agree not to use the Service for any
      other purpose. All rights not expressly granted to you in these Terms are
      reserved and retained by Company and/or its licensors. The licenses
      granted by Company terminate if you do not comply with these Terms and/or
      any other Service terms and conditions. By using the Service, you
      represent that you are not a person barred from using the Service under
      the laws, rules and regulations of the United States of America, your
      place of residence or any other applicable jurisdiction. No other rights,
      assignment, licenses or legal relationship of any nature, including, but
      not limited to, agency, partnership, joint-venture, employer- employee,
      franchisor-franchisee or otherwise, either express or implied, are created
      through your use of the Service unless expressly set forth in these Terms.
    </p>

    <p>
      5. REGISTRATION AND ACCOUNTS. Visitors and guests may browse the Site in
      accordance with these Terms, but will not have full access to the Service
      without first becoming Registered Users. In order to access certain
      features of the Service you may be required to become a Registered User. A
      “Registered User” is a user who has registered an account with us (your
      “Account”). Please refer to our <a href="/privacy">Privacy Policy</a> for more
      details about submitting information to us. In registering for the Service,
      you agree to (i) provide true, accurate, current, and complete information
      about yourself as prompted by the Service’s registration form (the “Registration
      Data”); and (ii) maintain and promptly update the Registration Data to keep
      it true, accurate, current and complete. You are responsible for all activities
      that occur under your Account. You may not share your Account or password with
      anyone, and you agree to notify Company immediately of any unauthorized use
      of your password or any other breach of security at support@boxed.gg. Even
      if you notify us, you will be responsible for any activities that occur using
      your access credentials, including any charges resulting from the use of your
      Account. Company will not be liable for any losses caused by any unauthorized
      use of your Account. If you provide any information that is untrue, inaccurate,
      not current or incomplete, or Company has reasonable grounds to suspect that
      such information is untrue, inaccurate, not current or incomplete, Company
      has the right to suspend or terminate your Account and refuse any and all current
      or future use of the Service (or any portion thereof). You agree not to create
      an Account using a false identity or information. If applicable, Company shall
      be entitled to monitor your username and password and, at its discretion, require
      you to change it. You agree not to register for an Account on behalf of an
      individual other than Yourself or register for an Account on behalf of any
      group or entity unless you are authorized to bind such person, group, organization,
      or entity to these Terms. By registering another person, group, organization,
      or entity you hereby represent that you are authorized to do so. You agree
      not to create an Account or use the Service if you have been previously removed
      by Company, or if you have been previously banned from any of the Company properties.
    </p>

    <p>
      6. THIRD PARTY ACCOUNTS AND SITES When you sign up for or use our Service,
      you may give us permission to access your information in other services.
      For example, you may link gaming or social media accounts that connect to
      our Service (each such account, a “Third-Party Account”), which allows us
      to obtain information from those accounts (like your full name and email).
      The information we get from those services often depends on your settings
      or their privacy policies, so be sure to check what those are. PLEASE NOTE
      THAT YOUR RELATIONSHIP WITH THE THIRD-PARTY SERVICE PROVIDERS ASSOCIATED
      WITH YOUR THIRD-PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S)
      WITH SUCH THIRD- PARTY SERVICE PROVIDERS, AND COMPANY DISCLAIMS ANY
      LIABILITY FOR PERSONAL INFORMATION THAT MAY BE PROVIDED TO IT BY SUCH
      THIRD-PARTY SERVICE PROVIDERS IN VIOLATION OF THE PRIVACY SETTINGS THAT
      YOU HAVE SET IN SUCH THIRD-PARTY ACCOUNTS. ANYTHING THAT HAPPENS IN YOUR
      THIRD-PARTY ACCOUNT IS BETWEEN THAT PROVIDER AND YOU. The Service may be
      linked to other websites that are not Company properties (collectively,
      “Third-Party Sites”). You acknowledge and agree that the Third-Party Sites
      may have different privacy policies and terms and conditions and/or user
      guides and business practices than Company, and you further acknowledge
      and agree that your use of such Third-Party Sites is governed by the
      respective Third-Party Site privacy policy and terms and conditions and/or
      user guides. You hereby agree to comply with any and all terms and
      conditions, users guides and privacy policies of any of Third-Party Sites.
      Company does not verify, make any representations or take responsibility
      for any Third-Party Site, including, without limitation, the truthfulness,
      accuracy, quality or completeness of the content, services, links
      displayed and/or any other activities conducted on or through such Third-
      Party Sites. YOU AGREE THAT COMPANY WILL NOT, UNDER ANY CIRCUMSTANCES, BE
      RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY GOODS, SERVICES,
      INFORMATION, RESOURCES AND/OR CONTENT AVAILABLE ON OR THROUGH ANY
      THIRD-PARTY SITES AND/OR THIRD-PARTY DEALINGS OR COMMUNICATIONS, OR FOR
      ANY HARM RELATED THERETO, OR FOR ANY DAMAGES OR LOSS CAUSED OR ALLEGED TO
      BE CAUSED BY OR IN CONNECTION WITH YOUR USE OR RELIANCE ON THE CONTENT OR
      BUSINESS PRACTICES OF ANY THIRD-PARTY. Any reference on the Service to any
      product, service, publication, institution, organization of any
      third-party entity or individual does not constitute or imply
      Company'sendorsement or recommendation.
    </p>

    <p>
      7. PAYMENTS, REFERRAL PROGRAM AND ACCOUNT CANCELLATIONS. By registering
      for an Account, you obtain access to the Service. The rights and
      privileges provided under your Account are personal and non-transferable.
      There is no cost associated with registering for an Account with us and/or
      using the Service. You will only pay for the intangible assets that you
      process or purchase within the Service. You agree to pay any applicable
      fees related to Your use of the Service as further described on our
      <a href="/purchaseterms">Purchase Terms</a>
      . By providing a payment method, You expressly authorize Us to charge the applicable
      fees on said payment method as well as any applicable taxes, all of which depend
      on Your use of the Service. We understand that You might cancel Your account
      at any time, but please know that you will be subject to the terms indicated
      in our
      <a href="/purchaseterms">Purchase Terms</a>. You agree that, if
      applicable, We may charge any unpaid fees to the payment method You
      provided and/or send You a bill for such unpaid fees. If applicable, You
      agree and consent to Company’s use of third-party payment providers for
      billing and processing online payments. We reserve the right to modify
      applicable costs, commissions and/or prices at any time and we do not
      provide price protection or refunds in the event of promotions or price
      decreases. You may cancel your Account at any time by contacting us at
      support@boxed.gg, or by closing your Account through your Account
      settings. If you have intangible assets in your Account at the time of
      such termination, the termination will not be effective until you dispose
      of your intangible assets as indicated on our
      <a href="/purchaseterms">Purchase Terms</a>. We may offer programs
      allowing our users to earn credits and rewards (“Rewards”) on their
      Accounts. Please refer to our
      <a href="/referralprogram">Referral Program Terms</a>
      as these may be amended from time to time, before participating in our Rewards’
      program. The
      <a href="/referralprogram">Referral Program Terms</a> are hereby incorporated
      by reference.
    </p>

    <p>
      8. OUR INTELLECTUAL PROPERTY RIGHTS. The Service and its content, features
      and functionality, including, without limitation, information, software,
      text, graphics, logos, button icons, images, audio clips, video clips,
      data compilations, analytics and design, the selection and arrangement
      thereof, are the exclusive property of Company, our licensors or other
      content suppliers, and are protected by United States of America and
      international copyright, trademark, patent, trade secret and other
      intellectual property or proprietary rights laws, and may not be used or
      exploited in any way without our prior written consent. Company owns,
      solely and exclusively, all intellectual property rights embodied in or
      practiced by our products, services, and systems, and any improvements and
      derivatives therein. No right, title or interest in or to the Service or
      any Materials is transferred to you and all rights not expressly granted
      are reserved. Any use of the Service that is not expressly permitted by
      these Terms may be a breach of these Terms and may violate copyright,
      trademark and other intellectual property laws. In addition to the
      intellectual property rights mentioned above, for purposes of these Terms,
      “Materials” also include all information such as the “look and feel” of
      the Service, data files, graphics, text, information, analytics, blogs,
      photographs, drawings, logos, images, sounds, music and video and audio
      files on the Service. Company exercises reasonable efforts to ensure that
      the Materials are accurate and complete, however Your use of the Service
      is at your own risk.
    </p>

    <p>
      We do not claim or represent ownership of any intangible assets you may
      acquire or purchase through the Service.
    </p>

    <span>
      9. UNAUTHORIZED ACTIVITIES & RULES OF CONDUCT. Unauthorized use of the
      Service may result in violation of various United States and international
      laws. So You are not authorized to use this Service in any of the
      following ways (these are examples only and the list below is not a
      complete list of everything that You are not permitted to do):
    </span>
    <ul>
      <li>
        • In a manner that violates any local, state, national, foreign, or
        international statute, regulation, rule, order, treaty, or other law;
      </li>
      <li>• To stalk, harass, or harm another individual;</li>
      <li>
        • To impersonate any person or entity or otherwise misrepresent Your
        affiliation with a person or entity;
      </li>
      <li>
        • Copy or print any of the Materials, whether licensed by us or
        otherwise, unless and to the extent it is for your own personal,
        non-commercial use and you must retain all trademark, copyright and
        other proprietary notices contained in and on any such Materials;
      </li>
      <li>
        • Reproduce, download, modify, translate, add to, distribute, transmit,
        publish, perform, display, disclose, archive, upload, broadcast or sell,
        sublicense, index or exploit any part of the Service or the content
        thereon in any medium, either directly or through the use of any device,
        software, internet site, web-based service or other means, without our
        prior express written permission;
      </li>
      <li>
        • Remove, alter, bypass, avoid, interfere with or circumvent any
        copyright, trademark or other proprietary notices marked on the
        Materials or any digital rights management mechanism, device or other
        content protection measures either directly or through other means;
      </li>
      <li>
        • Mirror, frame, screen scrape or deep link to any aspect of the Service
        or access any Materials through technology or means other than those
        provided or authorized by us;
      </li>
      <li>
        • Access the Service via any automated system, including, without
        limitation, by “robots,” “spiders,” “offline readers,” etc., or take any
        action that imposes, or may impose (as determined in our sole
        discretion), an unreasonable or disproportionately large load on our
        infrastructure;
      </li>
      <li>
        • Knowingly or recklessly upload invalid data or introduce viruses,
        worms, Trojan horses or other malware or software agents, whether
        harmful or not, to the Service, or tamper with, impair, damage, attack,
        exploit or penetrate the Company system or network, or otherwise attempt
        to interfere with or compromise the system integrity or security of
        Company or any connected networks, or take any action to impact the
        proper operation of the Service and any person’s or entity’s use or
        enjoyment thereof;
      </li>
      <li>
        • Bypass the measures we may use to prevent or restrict access to or use
        of the Service, including by hacking into secured or non-public areas of
        the Service, circumventing any geo-blocking mechanisms or otherwise;
      </li>
      <li>
        • Use the Service to collect any personally identifiable information,
        including Account names and e-mail addresses, or use the Service for any
        commercial solicitation purposes, without our prior express written
        permission;
      </li>
      <li>
        • Attempt to reverse engineer any aspect of the Service or attempt to
        derive the source code (including the tools, methods, processes and
        infrastructure) that enables or underlies the Service, create any
        derivative works or materials of any kind using the Materials, whether
        or not you intend to give away the derivative materials free of charge,
        or otherwise build a business utilizing any aspect of the Service;
      </li>
      <li>
        • Use the Service to upload or present any material which is false,
        defamatory, libelous, obscene, harassing, threatening, discriminatory,
        bigoted, hateful, violent, vulgar, profane, pornographic or otherwise
        offensive, inappropriate, damaging, unlawful, disruptive or harmful;
      </li>
      <li>
        • Use the Service to violate our or any other person’s legal rights
        (including the rights of publicity and privacy), contain any material
        that could give rise to any civil or criminal liability under applicable
        laws or regulations or otherwise promote, advocate or assist any illegal
        activity or unlawful act;
      </li>
      <li>
        • Use the Service to infringe any patent, trademark, trade secret,
        copyright, contract or other intellectual property or other proprietary
        rights of Company or any other person;
      </li>
      <li>
        • Use the Service in connection with unlawful contests, lotteries, or
        gambling; pyramid schemes, chain letters, junk email, spamming or any
        duplicative or unsolicited messages (commercial or otherwise);
      </li>
      <li>
        • Create and/or use multiple accounts to circumvent the restrictions on
        the Service, including creating duplicate accounts using referral links
        to abuse our
        <a href="/referralprogram">Referral Program Terms</a>
      </li>
      <li>
        • Use the Service to seek to harm or exploit children by exposing them
        to inappropriate content, asking for personally identifiable information
        or otherwise; or
      </li>
      <li>
        • Be otherwise objectionable as determined by Company at its sole
        discretion.
      </li>
    </ul>

    <p>
      You agree to hire attorneys to defend Us if You violate these Terms and
      that violation results in a problem for Us. You also agree to pay any
      damages that We may end up having to pay as a result of Your violation.
      You alone are responsible for any violation of these Terms by You.
    </p>
    <p>
      We reserve the right to assume the exclusive defense and control of any
      matter otherwise subject to indemnification by You and, in such case, You
      agree to cooperate with Our defense of such claim. We reserve the right,
      but do not assume the obligation, to investigate any violation of these
      Terms or misuse of the Service. We may monitor all prohibited actions,
      investigate, and/or take appropriate action at our sole discretion against
      you.
    </p>
    <p>
      If you violate this Section 9 or any other provision of these Terms or
      otherwise create liability for us or any other person, including
      reputational harm, we may (without limitation) and in addition to the
      above, terminate or suspend your Account, your access to the Service or
      any portion thereof at any time, with or without notice. We may also take
      legal action to enforce our rights, and/or report you to appropriate law
      enforcement authorities, regulators, or other appropriate third parties.
      PLEASE BE AWARE THAT WE COOPERATE WITH LAW ENFORCEMENT AND REPORT
      SUSPICIOUS AND/OR ILLEGAL ACTIVITY.
    </p>
    <p>
      Our reporting may include disclosing appropriate customer information. We
      also may cooperate with appropriate law enforcement agencies, regulators,
      or other appropriate third parties to help with the investigation and
      prosecution of illegal conduct by providing information related to alleged
      violations of this Section 9 and/or these Terms.
    </p>
    <p>
      In accordance with our <a href="/privacy">Privacy Policy</a>, we also may
      share and/or use your information to protect the safety, rights, property,
      or security of Company, our services, any third party, or the general
      public; to detect, prevent, or otherwise address fraud, security,
      cybersecurity, cybercrimes or technical issues; to prevent or stop any
      activity that Company, in its sole discretion, may consider to be, or to
      pose a risk of being, illegal, unethical, or legally actionable; to use as
      evidence in litigation; to conduct audits; and/or to enforce our Terms.
    </p>
    <p>
      10. USER SUBMISSIONS. If and to the extent that we elect to accept user
      generated material, you may have the opportunity to publish, transmit,
      submit or otherwise post reviews, ratings, comments, feedback or other
      materials on the Service, and including any information you submit to us,
      collectively “User Submissions”, some of which may be accessible and
      viewable by the public. With respect to User Submissions provided by you,
      you represent that (i) you created and own the rights to the content or
      you have the owner’s express permission to post such content, and (ii) the
      content does not infringe any other person’s or entity’s rights
      (including, without limitation, copyrights, trademarks or privacy rights)
      or violate any applicable laws, rules or regulations, these Terms or any
      of our other posted policies. We do not claim ownership to User
      Submissions. However, by providing or posting User Submissions, you
      irrevocably grant us and our assigns, agents and licensees and other users
      a worldwide, non-exclusive, irrevocable, royalty-free, fully paid license
      under all copyrights, trademarks, patents, trade secrets, privacy and
      publicity rights and other intellectual property rights you own or control
      to use, reproduce, transmit, modify, index, adapt, publish, translate,
      create derivative works from, distribute, display and otherwise exploit
      such content throughout the world in any media, whether now known or
      hereafter invented, including for any and all purposes, including
      commercial or marketing purposes, all without further notice to you, with
      or without attribution, and without the requirement of any permission from
      or payment to you or any other person or entity, without any obligation or
      remuneration to you. Except as prohibited by law, you hereby waive, and
      you agree to waive, any moral rights (including attribution and integrity)
      that you may have in any User Submissions, even if it is altered or
      changed in a manner not agreeable to you. To the extent not waivable, you
      irrevocably agree not to exercise such rights (if any) in a manner that
      interferes with any exercise of the granted rights. You understand that
      you will not receive any fees, sums, consideration, or remuneration for
      any of the rights granted in this Section. You agree to pay all royalties,
      fees and other monies owing to any person or entity by reason of the User
      Submissions that you post on the Service.
    </p>
    <p>
      We may refuse, alter, or remove a User Submissions without notice for any
      reason at Company’s sole discretion, including our belief that a User
      Submissions may violate these Terms or be otherwise objectionable. If and
      to the extent that we elect to accept User Submissions, we have the right,
      but not the obligation, to monitor, review, screen, post, remove, reject,
      modify and store all User Submissions posted on the Service, at any time
      and for any reason, without notice, including to ensure that all such User
      Submissions complies with these Terms. We do not endorse any User
      Submissions and the User Submissions posted does not reflect our opinions,
      views or advice. You are solely responsible for your User Submissions and
      the consequences of posting and publishing it and you agree that we are
      acting only as a passive conduit for your online distribution and
      publication of your User Submissions. We take no responsibility and assume
      no liability for any User Submissions that you or any other user or
      third-party posts or sends on or through the Service, nor do we assume any
      liability for any action or inaction regarding transmissions,
      communications or content provided by any user or third party. Company
      shall have no obligation to maintain any User Submission after termination
      of the Service. Notwithstanding our rules with regard to User Submissions,
      you may be exposed to content on the Service that is inaccurate,
      objectionable, inappropriate for children or otherwise unsuited to your
      purpose or in violation of our Terms. We take no responsibility and
      expressly disclaim any liability related in any way to your exposure to
      User Submissions on the Service, whether or not it violates our Terms. If
      and to the extent that we elect to accept User Submissions, please choose
      carefully the information you post on the Service and that you give to
      other users. You are discouraged from publicly posting your full name,
      telephone number, street address, e-mail address or other information that
      identifies you or allows strangers to find you or to steal your identity.
      You assume all risks associated with dealing with other users with whom
      you come in contact through the Service, and to the extent that the law
      permits, you release us from any claims or liability related to any User
      Submissions posted on the Service and from any claims related to the
      conduct of any other users. If you are a California resident, you waive
      California Civil Code § 1542, which says: “A GENERAL RELEASE DOES NOT
      EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN
      HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY
      HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR.”
    </p>
    <p>
      11. FEEDBACK. Any comments, questions, suggestions, or materials regarding
      the Service from You to Us (collectively, “Feedback”) through any
      communication whatsoever (e.g., call, email) will be treated as both
      non-confidential and non-proprietary. Except as prohibited by applicable
      law, you hereby assign all right, title, and interest in, and We are free
      to use, without any attribution or compensation to You, any ideas,
      know-how, concepts, techniques, or other intellectual property and
      proprietary rights contained in the Feedback, whether or not patentable,
      for any purpose whatsoever, including but not limited to, developing,
      manufacturing, having manufactured, licensing, marketing, and selling,
      directly or indirectly, products and services using such Feedback. Where
      the foregoing assignment is prohibited by law, you hereby grant Us an
      exclusive, transferable, worldwide, royalty-free, fully paid up license
      (including the right to sublicense) to use and exploit all Feedback as We
      may determine in our sole discretion. Notwithstanding the foregoing, you
      understand and agree that We are not obligated to use, display, reproduce,
      or distribute any such ideas, know-how, concepts, or techniques contained
      in the Feedback, and You have no right to compel such use, display,
      reproduction, or distribution.
    </p>
    <p>
      12. INTELLECTUAL PROPERTY INFRINGEMENT. We respect the intellectual
      property rights of others and encourage You to do the same. Accordingly,
      We have a policy of removing any content that violates intellectual
      property rights of others, suspending access to this Service (or any
      portion thereof) to any user who uses this Service in violation of
      someone’s intellectual property rights, and/or terminating in appropriate
      circumstances the account of any user who uses the this Service in
      violation of someone’s intellectual property rights. Pursuant to Title 17
      of the United States Code, Section 512, We have implemented procedures for
      receiving written notification of claimed copyright infringement and for
      processing such claims in accordance with such law. If You believe Your
      copyright or other intellectual property right is being infringed by a
      user of this Service, please provide written notice to Our Agent for
      notice of claims of infringement at DMCA Agent; Email: legal@boxed.gg
    </p>

    <span>
      To be sure the matter is handled immediately, Your written notice must:
    </span>
    <ul>
      <li>• Contain Your physical or electronic signature;</li>
      <li>
        • Identify the copyrighted work or other intellectual property alleged
        to have been infringed;
      </li>
      <li>
        • Identify the allegedly infringing material in a sufficiently precise
        manner to allow Us to locate that material;
      </li>
      <li>
        • Contain adequate information by which We can contact You (including
        postal address, telephone number, and e-mail address);
      </li>
      <li>
        • Contain a statement that You have a good faith belief that use of the
        copyrighted material or other intellectual property is not authorized by
        the owner, the owner's agent or the law;
      </li>
      <li>
        • Contain a statement that the information in the written notice is
        accurate; and
      </li>
      <li>
        • Contain statement, under penalty of perjury, that You are authorized
        to act on behalf of the copyright or other intellectual property right
        owner.
      </li>
    </ul>
    <p>
      Unless the notice pertains to copyright or other intellectual property
      infringement, the Agent will be unable to address the listed concern.
    </p>
    <p>Submitting a DMCA Counter-Notification</p>
    <p>
      If the content removed belongs to you, We will notify You that We have
      removed or disabled access to copyright-protected material that You
      provided, if such removal is pursuant to a validly received DMCA take-down
      notice. In response, You may provide Our Agent with a written
      counter-notification that includes the following information:
    </p>
    <p>
      1. Your physical or electronic signature; 2. Identification of the
      material that has been removed or to which access has been disabled, and
      the location at which the material appeared before it was removed or
      access to it was disabled; 3. A statement from You under the penalty of
      perjury, that You have a good faith belief that the material was removed
      or disabled as a result of a mistake or misidentification of the material
      to be removed or disabled; and 4. Your name, physical address and
      telephone number, and a statement that You consent to the jurisdiction of
      a court for the judicial district in which Your physical address is
      located, or if Your physical address is outside of the United States, for
      any judicial district in which We may be located, and that You will accept
      service of process from the person who provided notification of allegedly
      infringing material or an agent of such person.
    </p>
    <p>Termination of Repeat Infringers</p>
    <p>
      We reserve the right, in Our sole discretion, to terminate the account or
      access of any user of this Service who is the subject of repeated DMCA or
      other infringement notifications.
    </p>
    <p>
      13. TERM AND TERMINATION. These Terms commence on the date when you start
      using the Service and remain in full force and effect while you use the
      Service, unless terminated earlier in accordance with the Terms. If you
      want to terminate the Service, you may do so by (a) notifying Company at
      any time; (b) closing your Account in accordance with the established
      procedure; and/or (c) if you are visitor, stop visiting the Site. For
      information on the voluntary procedure of closing your Account, please
      contact us at <a href="mailto:support@boxed.gg">support@boxed.gg</a>. We
      reserve the right to terminate or suspend your account or access to the
      Service at any time and for any reason. It is within our sole discretion
      and determination to terminate your Account for what we deem to be a
      violation or breach of these Terms. In the event that we terminate or
      suspend your Account, you will have no further access to your Account or
      anything associated with it. Termination of the Service includes (i)
      automatic termination of all licenses and you must immediately destroy any
      downloaded or printed materials (including software); and (ii) deletion of
      your password and related information, files and content associated with
      or inside your Account (or any part thereof), including User Submissions,
      except to the extent of any surviving licenses or applicable record
      retention requirements. Company will not have any liability whatsoever to
      you for any suspension or termination, including for deletion of User
      Submissions. All provisions of the Terms, which by their nature should
      survive, shall survive termination of the Service, including without
      limitation, ownership provisions, warranty disclaimers, and limitation of
      liability. You may close your Account by using the feature provided in the
      Service or, in the alternative, by emailing us at
      <a href="mailto:support@boxed.gg">support@boxed.gg</a>. We will proceed to
      close your Account and send you an email confirmation. Please refer to
      Section 7 for cancellations. If you have intangible assets in your Account
      at the time of such termination, the termination will not be effective
      until you dispose of your intangible assets as indicated on our
      <a href="/purchaseterms">Purchase Terms</a>.
    </p>
    <p>
      14. DISCLAIMER OF WARRANTIES. You use the Service at your own risk. THE
      SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT
      WARRANTIES OF ANY KIND, AND TO THE FULLEST EXTENT PERMITTED BY LAW,
      COMPANY (ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, ASSOCIATES, PARTNERS,
      LICENSORS AND SUPPLIERS) DISCLAIM ALL WARRANTIES EXPRESS OR IMPLIED,
      INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY, FITNESS
      FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, SATISFACTORY QUALITY,
      AND THOSE ARISING FROM COURSE OF DEALING OR USAGE OF TRADE. COMPANY DOES
      NOT WARRANT THAT YOU WILL BE ABLE TO ACCESS OR USE THE SERVICE AT THE
      TIMES OR LOCATIONS OF YOUR CHOOSING; THAT THE SERVICE WILL BE
      UNINTERRUPTED OR ERROR-FREE; OR THAT ALL DEFECTS WILL BE CORRECTED; OR
      THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. COMPANY
      DOES NOT WARRANT THAT THE FUNCTIONAL ASPECTS OF THE SERVICE OR THE
      MATERIALS WILL BE ERROR FREE OR THAT THE SERVICE, THE MATERIALS OR THE
      PLATFORM THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL
      COMPONENTS. COMPANY AND ITS SUPPLIERS MAKE NO WARRANTIES ABOUT THE
      MATERIALS OR ABOUT RESULTS TO BE OBTAINED FROM USING THE SERVICE. YOU BEAR
      THE ENTIRE RISK OF THE COMPLETENESS, ACCURACY OR USEFULNESS OF ANY
      MATERIALS FOUND ON THIS SERVICE. COMPANY RESERVES THE RIGHT TO WITHDRAW,
      TEMPORARILY OR PERMANENTLY, ANY MATERIALS FROM THE SERVICE AT ANY TIME AND
      FOR ANY REASON AND SUCH REMOVAL MAY BE IMMEDIATE AND WITHOUT NOTICE. AS AN
      EXPRESS CONDITION TO YOUR USE OF AND ACCESS TO THE SERVICE, YOU
      ACKNOWLEDGE, AGREE AND CONFIRM THAT COMPANY IS NOT LIABLE TO YOU OR ANY
      THIRD PARTY FOR ANY SUCH WITHDRAWAL. WE DO NOT GUARANTEE CONTINUOUS,
      UNINTERRUPTED OR SECURE ACCESS TO ANY PART OF OUR SERVICE (INCLUDING ANY
      NETWORKS AND SERVERS USED TO PROVIDE ANY PART OF THE SERVICE). WE WILL
      MAKE REASONABLE EFFORTS TO ENSURE THAT REQUESTS FOR ANY AVAILABILITY OF OR
      ELECTRONIC MOVEMENT OF INTANGIBLE ASSETS ARE PROCESSED IN A TIMELY MANNER,
      HOWEVER WE MAKE NO REPRESENTATIONS OR WARRANTIES REGARDING THE AMOUNT OF
      TIME NEEDED TO COMPLETE PROCESSING, ESPECIALLY WHERE SUCH PROCESSING
      INCLUDES FACTORS OUTSIDE OF OUR CONTROL, OR WHOSE CONTROL IS UNDER
      THIRD-PARTY SYSTEMS, SUCH AS THIRD PARTY MARKETPLACES, AVAILABILITY OF
      OTHER SITES OR INTANGIBLE ASSETS PROVIDERS, ELECTRONIC BILLING OR EXTERNAL
      PAYMENT SYSTEMS, OR ACCREDITATION OF PAYMENTS OR TRANSFERS IN ANY FORM OF
      ELECTRONIC MONEY NOT DENOMINATED IN THE SERVICE.
    </p>
    <p>
      15. LIMITATION OF LIABILITY. COMPANY SHALL NOT BE LIABLE TO YOU FOR ANY
      INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE, REMOTE OR OTHER
      SIMILAR DAMAGES, INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUES, LOST
      PROFITS, LOST DATA, OR BUSINESS INTERRUPTION OR OTHER INTANGIBLE LOSSES
      (HOWEVER SUCH LOSSES ARE QUALIFIED), ARISING OUT OF OR RELATING IN ANY WAY
      TO THESE TERMS OR THE SERVICE ITSELF, WHETHER BASED ON CONTRACT, TORT OR
      ANY OTHER LEGAL THEORY, AND WHETHER OR NOT COMPANY HAS BEEN ADVISED OF THE
      POSSIBILITY OF SUCH DAMAGES. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE
      ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN COMPANY AND
      YOU. To the extent that Company may not, as a matter of applicable law,
      disclaim any warranty or limit its liability as set forth in these Terms,
      the scope of such warranty, and the extent of Company’s liability, shall
      be the minimum permitted under such applicable law. Nothing in these Terms
      shall affect your legal rights as a consumer or exclude or limit any
      liability, which cannot be legally excluded, or limited.
    </p>
    <p>
      16. INDEMNITY. You agree to indemnify and hold Company, its parents,
      subsidiaries, affiliates, officers, employees, agents, partners, and
      licensors (collectively, the “Indemnitees”) harmless from any losses,
      costs, liabilities and expenses (including reasonable attorneys’ fees)
      relating to or arising out of: (a) Your User Submissions; (b) your use of,
      or inability to use, the Service; (c) your violation of the Terms; (d)
      your violation of any rights of another party, including any users; or (e)
      your violation of any applicable laws, rules, regulations or policies .
      Company reserves the right, at its own cost, to assume the exclusive
      defense and control of any matter otherwise subject to indemnification by
      you, in which event you will fully cooperate with Company in asserting any
      available defenses. You agree that the provisions in this section will
      survive any termination of your Account, the Terms or your access to the
      Service.
    </p>
    <p>
      17. DISPUTE RESOLUTION AND ARBITRATION; CLASS ACTION WAIVER. Please read
      this carefully. If you are a resident of the United States of America,
      this affects Your rights. Otherwise, this Section applies to the extent
      applicable in your jurisdiction.
    </p>
    <p>
      (a) Applicable Law. These Terms will be subject to and construed in
      accordance with the laws of the State of Washington, United States of
      America, excluding its rules regarding conflicts of law. You agree that
      any claim or dispute You may have against Company must be resolved
      exclusively by a state or federal court located in the State of
      Washington, except as prohibited by law, as otherwise agreed by the
      parties or as described in the Arbitration subsection below. You agree to
      submit to the personal jurisdiction of the courts located in Washington
      for the purpose of litigating all such claims or disputes.
    </p>
    <p>
      (b) Dispute Resolution. Before either party may seek arbitration as
      provided below, the party must first send to the other party a written
      notice of dispute (“Notice") describing the nature and basis of the claim
      or dispute, and the requested relief. After the Notice is received, You
      and Company may attempt to resolve the claim or dispute informally. If You
      and Company do not resolve the claim or dispute within thirty (30) days
      after the Notice is received, either party may begin an arbitration
      proceeding as provided below.
    </p>
    <p>
      (c) Arbitration. You agree that, to the extent that the Law permits,
      Company may elect to resolve the dispute in a cost-effective manner
      through binding arbitration (including non- appearance-based arbitration),
      except that you may assert claims in small claims court if your claims
      qualify. You have the right to opt-out of this provision, which means you
      would retain your right to litigate your disputes in a court, either
      before a judge or, if applicable, a jury. You must opt-out of these
      arbitration procedures within 30 days from the date that you first consent
      to these Terms (the “Opt-Out Deadline”). You may opt out of this provision
      by mailing written notification to Loot Labs Inc, Attn. Legal, 5016
      Ravenna Ave NE, Seattle, WA, 98105, USA. Your written notification must
      include (1) your name, (2) your address, and (3) a clear statement that
      you do not wish to resolve disputes with Company through arbitration. Your
      decision to opt-out of this Arbitration provision will have no adverse
      effect on your relationship with Company. Any opt-out request received
      after the Opt-Out Deadline will not be valid and you must pursue your
      dispute in arbitration or small claims court. In the event Company elects
      arbitration, You hereby agree to move any claims to the exclusive
      jurisdiction of an arbitration procedure, which shall be initiated through
      the American Arbitration Association or another established alternative
      dispute resolution provider (collectively, “ADR”) chosen by Company. The
      ADR provider and the parties must comply with the following rules: (i) the
      arbitration shall be conducted by telephone, online and/or be solely based
      on written submissions, the specific manner shall be chosen by the party
      initiating the arbitration; (ii) the arbitration shall not involve any
      personal appearance by the parties or witnesses unless otherwise mutually
      agreed by the parties, in which case the location of the arbitration shall
      be Fulton County, Delaware, and (iii) the award rendered by the arbitrator
      may be entered in any court of competent jurisdiction. Arbitration
      expressly excludes claims for injunctive or other equitable relief. The
      U.S. Federal Arbitration Act and U.S. federal arbitration law apply to
      these Terms.
    </p>
    <p>
      (d) Waiver of Jury Trial. EXCEPT AS PROHIBITED BY LAW, YOU HEREBY WAIVE
      YOUR CONSTITUTIONAL AND STATUTORY RIGHTS TO GO TO COURT AND HAVE A TRIAL
      IN FRONT OF A JUDGE OR A JURY. In the event any litigation should arise
      between You and Company in any state or federal court in a suit to vacate
      or enforce an arbitration award or otherwise, YOU WAIVE ALL RIGHTS TO A
      JURY TRIAL, instead electing that the dispute be resolved by a judge.
    </p>
    <p>
      (e) Waiver of Class or Consolidated Actions. EXCEPT AS PROHIBITED BY LAW,
      ALL CLAIMS AND DISPUTES WITHIN THE SCOPE OF THESE TERMS MUST BE ARBITRATED
      OR LITIGATED ON AN INDIVIDUAL BASIS AND NOT ON A CLASS BASIS, AND CLAIMS
      OF MORE THAN ONE USER CANNOT BE ARBITRATED OR LITIGATED JOINTLY OR
      CONSOLIDATED WITH THOSE OF ANY OTHER USER. TO THE EXTENT THAT THE LAW
      PERMITS, EACH PARTY WAIVES THE RIGHT TO LITIGATE IN COURT OR ARBITRATE ANY
      CLAIM OR DISPUTE AS A CLASS ACTION, EITHER AS A MEMBER OF A CLASS OR AS A
      REPRESENTATIVE.
    </p>
    <p>
      18. ELECTRONIC COMMUNICATIONS. The communications between you and Company
      use electronic means, whether you visit the Site, send Company e-mails, or
      use the Service or whether Company posts notices on the Site or
      communicates with you via e-mail. For contractual purposes, you (1)
      consent to receive communications from Company in an electronic form; and
      (2) agree that all terms and conditions, agreements, notices, disclosures,
      and other communications that Company provides to you electronically
      satisfy any legal requirement that such communications would satisfy if it
      were to be in writing. The foregoing does not affect your statutory
      rights. Where Company requires that you provide an e-mail address; you are
      responsible for providing Company with your most current e-mail address.
      In the event that the last e-mail address you provided to Company is not
      valid, or for any reason is not capable of delivering to you any notices
      required/ permitted by the Terms, Company’s dispatch of the e-mail
      containing such notice will nonetheless constitute effective notice. We
      are not responsible for any automatic filtering you or your network or
      e-mail provider may apply to communications we send to an e-mail address
      that you provide to us.
    </p>
    <p>
      19. CONSUMER NOTICE. Under California Civil Code Section 1789.3,
      California users are entitled to the following consumer rights notice: The
      Service is provided by Loot Labs Inc. If you have a question or complaint
      regarding the Service, please contact Company’s Customer Service at
      <a href="mailto:support@boxed.gg">support@boxed.gg</a>; Attention:
      Customer Service. California residents may reach the Complaint Assistance
      Unit of the Division of Consumer Services of the California Department of
      Consumer Affairs by post at 1625 North Market Blvd., Sacramento, CA 95834
      or by telephone at (916) 445-1254 or (800) 952-5210 or Hearing Impaired at
      TDD (800) 326-2297 or TDD (916) 322-1700.
    </p>
    <p>
      20. GENERAL. These Terms together with our
      <a href="/privacy">Privacy Policy</a>, and any Additional Terms that we
      may make available from time to time through our internet properties,
      constitute the entire agreement between you and Company regarding your use
      of our Service and supersede and replace any prior written or oral
      agreements regarding the foregoing. Our failure to exercise or enforce any
      right or provision in these Terms shall not operate as a waiver of such
      right or provision. If any provision of the Terms is found to be unlawful,
      void or for any reason unenforceable, then that provision shall be deemed
      severable from the Terms and shall not affect the validity and
      enforceability of any remaining provisions. Neither the rights nor
      obligations arising under these Terms are assignable by you. Any such
      attempted assignment or transfer shall be void and without effect. We may
      assign these Terms without restriction.
    </p>
    <p>
      21. CONTACT US. If you have any questions about these Terms or otherwise
      need to contact Company for any reason, you can reach us at
      <a href="mailto:support@boxed.gg">support@boxed.gg</a>.
    </p>
    <p>©2023 Loot Labs Inc. dba Boxed. All rights reserved.</p>
  </section>
</ThreeColumns>
